@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woof2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woof2"),
    url("../fonts/OpenSans-Regular.woff") format ("woof");
}

body {
  margin: 0;
  width: 100vw;
  background-color: #111111;
  color: #ffffff;
  font-family: "OpenSans", "arial", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  /* margin-left: 120px;
  margin-right: 120px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "ArchivoBlack", "Arial", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-family: "ArchivoBlack", "Arial", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  margin: 0;
}

main,
section {
  margin-left: 120px;
  margin-right: 120px;
}

.header {
  width: 100%;
  padding-top: 89px;
  position: relative;
  margin-left: 120px;
  margin-right: 120px;
}

.header__name {
  margin: 0;
  width: 793px;
  padding-bottom: 15px;
}

.header__role {
  margin: 0;
  color: #ffffff80;
  padding-bottom: 30px;
  width: 793px;
}

.header__description {
  width: 793px;
  margin: 0;
  padding-bottom: 30px;
  font-size: 18px;
}

.header__image {
  width: 387px;
  height: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
  position: absolute;
  top: 40px;
  right: 240px;
}

.header__nav-links {
  margin: 0;
  margin-right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  padding: 0;
  list-style: none;
  width: 793px;
  padding-bottom: 120px; /*es sumando el grosor de la línea azul*/
}

.header__nav-link {
  color: #ffffff;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  text-decoration: none;
}
/*
.header__nav-line {
  width: 115px;
  height: 5px;
  color: aquamarine;
} */

.main__logos {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__logo-rectangle {
  width: 50px;
  height: 57px;
}

.main__logo-square {
  width: 50px;
  height: 50px;
}

.main__projects {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
  gap: 20px;
  grid-template-rows: 670px;
}

.project {
  margin-top: 50px;
  background-color: #4e4e4e;
  display: flex;
  flex-direction: column;
  width: 590px;
}

.project_image {
  width: 590px;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.project_image-coffeeshop {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/Café\ de\ especialidad\ en\ Triple\ Espresso.png);
  background-size: 590px 330px;
  background-repeat: no-repeat;
}

.project_image-placeholder {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/placeholder\ for\ a\ photo.png);
  background-size: 590px 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project__logos {
  padding-left: 12px;
  padding-bottom: 10px;
}

.project__logo-rectangle {
  width: 35.12px;
  height: 40px;
  padding-right: 10px;
}

.project__logo-square {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.project_name {
  width: 590px;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  box-sizing: border-box;
}

.project_description {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  padding: 20px 30px 30px;
  margin: 0;
  width: 590px;
  box-sizing: border-box;
}

.project_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: auto;
}

.project_link-logo {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  margin: 0;
}

.project_link-logo_Github {
  opacity: 0.6;
}

.project_link-demo {
  font-size: 16px;
  color: #6d6dff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project_link-GitHub {
  font-size: 16px;
  color: #ffffff60;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 343px;
  overflow: clip;
}

.footer_title {
  padding-top: 100px;
}

.footer_email {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #6d6dff;
}

.footer_social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.footer_social-media_logo {
  padding-left: 40px;
  padding-right: 40px;
}

.circle {
  border-radius: 150px;
  z-index: 0;
  width: 700px;
  height: 700px;

  background: radial-gradient(
    circle,
    rgba(109, 109, 255, 0.45) 0%,
    rgba(109, 109, 255, 0.2) 35%,
    rgba(109, 109, 255, 0.08) 65%,
    transparent 100%
  );
}

.circle_header {
  position: absolute;
  top: 40px;
  right: 127px;
}

.circle_footer {
  position: absolute;
  top: 1375px;
  left: 370px;
  z-index: -1;
  overflow: clip;
}
