@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woof2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woof2"),
    url("../fonts/OpenSans-Regular.woff") format ("woof");
}

body {
  background-color: burlywood;
}
