@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woof2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woof2"),
    url("../fonts/OpenSans-Regular.woff") format("woof");
}

body {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1440px;
  background-color: #111111;
  color: #ffffff;
  font-family: "OpenSans", "arial", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "ArchivoBlack", "Arial", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-family: "ArchivoBlack", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

*{
    padding:0;
    box-sizing:border-box;
}

.header {
    display:grid;
    grid-template-columns: 1fr 387px;
    align-items:center;
    gap:20px;
    max-width:1440px;
    margin:auto;
    margin-top: 0;
}

.header-info{
    min-width:0;
}

.header__name{
  margin-top: 89px;
  width: 100%;
  padding-bottom: 15px;
  paddin-top: 89px;
}

.header__role {
  margin: 0;
  color: #ffffff;
  opacity: 0.8;
  padding-bottom: 30px;
  font-size: 18px;
  }

.header__description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 18px;
}

.header__nav-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  padding: 0;
  list-style: none;
  width: 100%;
}

.header__nav-textandline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__nav-link {
  color: #ffffff;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 5px;
}

.header__nav-lineCV {
  width: 115px;
  height: 5px;
  background: linear-gradient(90deg, #ff4500 0%, #ffa500 100%);
  margin-bottom: 110px;
}

.header__nav-lineGH {
  width: 138px;
  height: 5px;
  background: linear-gradient(90deg, #ff4500 0%, #ffa500 100%);
  margin-bottom: 110px;
}

.header__nav-lineTlk {
  width: 88px;
  height: 5px;
  background: linear-gradient(90deg, #ff4500 0%, #ffa500 100%);
  margin-bottom: 110px;
}

.header__image{
  width:100%;
  display:block;
  height: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.main__logos {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__logo-rectangle {
  width: 50px;
  height: 57px;
}

.main__logo-square {
  width: 50px;
  height: 50px;
}

.main__projects {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
  gap: 20px;
  grid-template-rows: 670px;
}

.project {
  margin-top: 50px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  width: 590px;
}

.project_image {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.project_image-coffeeshop {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/Café\ de\ especialidad\ en\ Triple\ Espresso.png);
  aspect-ratio: 16:9;
  background-size: cover;
}

.project_image-placeholder {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/placeholder\ for\ a\ photo.png);
  aspect-ratio: 16:9;
  background-size: cover;
  background-position: center;
}

.project__logos {
  padding-left: 12px;
  padding-bottom: 10px;
}

.project__logo-rectangle {
  height: 40px;
  padding-right: 10px;
}

.project__logo-square {
  height: 40px;
  padding-right: 10px;
}

.project_name {
  width: 100%;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  box-sizing: border-box;
}

.project_description {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  padding: 20px 30px 30px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.project_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: auto;
}

.project_link-logo {
  height: 20px;
  padding-right: 10px;
  margin: 0;
}

.project_link-logo_Github {
  opacity: 0.6;
}

.project_link-demo {
  font-size: 16px;
  color: #6d6dff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project_link-GitHub {
  font-size: 16px;
  color: #ffffff60;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 343px;
  overflow: clip;
  position: relative;
}

.footer_title {
  padding-top: 100px;
}

.footer_email {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #e55400;
  text-decoration: none;
}

.footer_social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.footer_social-media_logo {
  padding-left: 40px;
  padding-right: 40px;
}

.circle {
  border-radius: 150px;
  z-index: -1;
  width: 700px;
  height: 700px;

  background: radial-gradient(
    circle,
    rgba(255, 69, 0, 0.45) 0%,
    rgba(255, 140, 0, 0.2) 35%,
    rgba(255, 165, 0, 0.08) 65%,
    transparent 100%
  );
}

.circle_header {
  position: absolute;
  top: 40px;
  right: 127px;
}

.circle_footer {
  position: absolute;
  bottom: calc(50% - 350px);
  left: calc(50% - 350px);
  z-index: -1;
  overflow: clip;
}

/* ---- ESTILOS HOVER --- */
.header__nav-textandline:hover,
.project_link-demo:hover,
.project_link-GitHub:hover,
.footer_email:hover,
.footer_social-media_logo:hover {
  opacity: 0.5;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 1024px) {
  body {
    padding: 0 40px;
  }

  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 40px;
  }

  .header {
    grid-template-columns: 1fr 216px;
    align-items:flex-start;
    max-width: 1024px;
    margin:auto;
    margin-top: 0;
  }

  .header__name {
    padding-bottom: 14px;
    margin-top: 40px;
  }

  .header__role {
    max-width: 300px;
    padding-bottom: 20px;
  }

  .header__description {
    margin: 0;
    padding-bottom: 20px;
  }

  .header__image {
    width:100%;
    display:block;
    height: 280px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-top: 40px;
  }

  .header__nav-lineCV {
    margin-bottom: 80px;
  }

  .header__nav-lineGH {
    margin-bottom: 80px;
  }

  .header__nav-lineTlk {
    margin-bottom: 80px;
  }

  .main__logos {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .main__projects {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    gap: 20px;
  }

  .project {
    margin-top: 30px;
    width: 688px;
  }

  .project_links {
    margin-top: 0;
  }

  .footer {
    position: relative;
  }

  .footer_title {
    padding-top: 80px;
  }

  .circle {
    width: 300px;
   height: 300px;
  }

  .circle_header {
    top: 80px;
    right: 80px;
  }

  .circle_footer {
    top: 0;
    left: calc(50% - 150px);
  }
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0 20px;
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  .header {
   grid-template-columns:1fr;
   justify-items: flex-start;
   gap: 0;
  }

  .header__image {
    flex:none;
    max-width:280px;
    height: 280px;
    aspect-ratio: 1/1;
    object-fit: cover;
    order: -1;
    padding: 20px 0px 30px;
    margin: 0;
  }

  .header__name {
    margin: 0;
    padding-bottom: 10px;
  }

  .header__role {
    padding-bottom: 20px;
    font-size: 16px;
    max-width: 300px;
  }

  .header__description {
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
  }

  .header__nav{
    padding-bottom: 35px;
  }

  .header__nav-links {
    flex-direction: column;
    gap: 0;
  }

  .header__nav-lineCV {
    margin-bottom: 25px;
  }

  .header__nav-lineGH {
    margin-bottom: 25px;
  }

  .header__nav-lineTlk {
    margin-bottom: 25px;
  }

  .main__logos {
    padding-top: 30px;
    padding-bottom: 60px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 53px;
  }

  .main__logo-rectangle {
    width: 30px;
    height: 34.2px;
  }

  .main__logo-square {
    width: 30px;
    height: 30px;
  }

  .main__projects {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
  }

  .project {
    width: 280px;
    margin-top: 10px;
  }

  .project_image {
    width: 100%;
    height: 160px;
  }

  .project__logos {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .project__logo-rectangle {
    width: 17.56px;
    height: 20px;
    padding-right: 5px;
  }

  .project__logo-square {
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }

  .project_name {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .project_description {
    font-size: 16px;
    padding: 10px 20px 20px;
  }

  .project_links {
    margin-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .footer {
    height: 100%;
    position: relative;
  }

  .footer_title {
    padding-top: 60px;
  }

  .footer_social-media_logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .circle {
   width: 300px;
   height: 300px;
  }

  .circle_header {
    top: 50px;
    left: calc(50% - 150px)
  }

  .circle_footer {
    top: 30px;
    left: calc(50% - 150px)
  }
}
